body {
  display: flex;
  flex-flow: column nowrap;
  max-width: 60rem;
  min-height: 100vh;
  gap: 1rem;
  margin: 0;
}

main {
  flex-grow: 1;
  padding: 0 2rem;
}


footer {
  padding: 1rem 2rem;
}
