<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Uwurl url shortener"/>
    <meta name="author" content="Shine"/>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <meta charset="UTF-8"/>
    <meta name="robots" content="noindex"/>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<header></header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    Meow!
</footer>
</body>

</html>