{% extends "base.html" %}

{% block title %} {{ title }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Index</h1>
<form action="/shorten" method="post">
    <label for="url">Url:</label>
    <input type="text" id="url" name="url"><br><br>
</form>
{% endblock %}