{% extends "base.html" %}

{% block title %} {{ title }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Shortened URL</h1>
<span><a href="{{ short_url }}">{{ short_url }}</a></span>
{% endblock %}